* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "McLaren", cursive;
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  text-align: center;
  background-color: cornflowerblue;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid darkslateblue;
}

header h1 {
  color: darkslateblue;
  font-weight: bolder;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: papayawhip;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  background: inherit;
  font-family: inherit;
  width: 100%;
  padding: 4px;
  border: none;
  outline: none;
  font-size: 1.2em;
  resize: none;
}
form textarea {
  border-top: 1px solid black;
}
form button {
  position: absolute;
  right: 5%;
  bottom: -5%;
  /* background: #f5ba13; */
  background: chartreuse;

  color: darkslateblue;
  border: none;
  border-radius: 10%;
  width: 20%;
  height: 20%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 1em;
  font-weight: normal;
}
form button:hover {
  font-weight: bolder;
}
.note {
  position: relative;
  background-color: pink;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note:hover {
  background-color: papayawhip;
}
.note h1 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 6px;
}
.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-top: 1px solid black;
}

.note button {
  position: absolute;
  right: 5%;
  bottom: -10%;
  color: red;
  border-radius: 10%;
  width: 30%;
  height: 20%;
  cursor: pointer;
  outline: none;
  background: papayawhip;
  border: 1px solid red;
  font-size: 1em;
  font-weight: normal;
}
.note button:hover {
  background: pink;
  font-weight: bolder;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
